ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(162,14,14);
    background: linear-gradient(90deg, rgba(162,14,14,1) 0%, rgba(16,16,96,1) 62%);
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(245, 209, 8);
    text-align: center;
    padding: 14px 155px;
    font-size: 55px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  body {
    
    
    background: rgb(0,0,0);
background: linear-gradient(34deg, rgba(0,0,0,1) 0%, rgba(13,6,110,1) 47%);
 div.box {
     text-align:center ;
 }