ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(162,14,14);
    background: linear-gradient(90deg, rgba(162,14,14,1) 0%, rgba(16,16,96,1) 62%);
    font-family: Bebas Neue;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(245, 209, 8);
    text-align: center;
    padding: 14px 155px;
    font-size: 55px;
    text-decoration: none;
    font-family: Bebas Neue;
  }
  
  li a:hover {
    background-color: #111;
  }

  body {
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(10,5,87,1) 53%);

    h1{
      font-family: Bebas Neue;
      color: #ffffff;
      text-align: center;
      background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(10,5,87,1) 53%);
font-size: 70px; 
    }

    h2 {
      color: #ffffff;
      text-align: center;
      font-family: Bebas Neue;
      font-size: 45px;
    }
    
 div.box  {
    text-align:center ;

 } 


}



a:link {
  color: #ffcc00;
text-decoration:none;
}
a:visited {
  color: #ffcc00;
}

a:hover {
  color: #cd122d;
}

html {
  cursor: url("BAR.png"),auto;
}